{% extends 'base_filtro_sprint.html' %}

{% load widget_tweaks %}
{% load material_form %}
{% block content %}

        <script>
    document.addEventListener('DOMContentLoaded', function () {
        //Dropdown menu

        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl)
        })
    });
</script>

  <form method="get">
    <div class="well">
      <h6 class="text-muted">Parametros de filtrado :</h6>
      <div class="row">

        <div class="form-group col s4">
          {{ filter.form.estados.label_tag }}
          {% render_field filter.form.estados class="form-control" %}
        </div>

      </div>
        <p></p>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Filtrar
      </button>
        <p></p>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>#Sprint</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Estado</th>
        <th>Verificado</th>
      </tr>
    </thead>
    <tbody>
      {% for hist in filter.qs %}
        <tr>
          <td>{{ hist.id }}</td>
          <td>{{ hist.sprintNumber }}</td>
          <td>{{ hist.fecha_inicio }}</td>
          <td>{{ hist.fecha_fin }}</td>
          <td>{{ hist.estados }}</td>
          <td>{{ hist.verificado }}</td>

      <td>
          <div class="dropdown">
<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdown{{ hist.id }}" data-bs-toggle="dropdown" aria-expanded="false">
        opciones
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdown{{ hist.id }}">

        {% if hist.estados == "PLANNING" %}
        <li><a class="dropdown-item" href="/SprintPlanning/3/{{ 0 }}/{{ 3 }}/">Iniciar</a></li>
        <li><a class="dropdown-item" href="/modificarSprint/{{ hist.id }}/">Modificar</a></li>
        <li><a class="dropdown-item" href="/eliminarSprint/{{ hist.id }}/">Eliminar</a></li>
        {% endif %}
      {% if hist.estados == "INICIADO" %}
          <li><a class="dropdown-item" href="/tableroKanban/">Ver Kanban</a></li>
          <li><a class="dropdown-item" href="/burndownChart/">Ver BurndownChart</a></li>
      {% endif %}
            {% if hist.estados == "FINALIZADO"  %}
          <li><a class="dropdown-item" href="/historicooSprint/{{ hist.id }}">Ver Kanban</a></li>
          <li><a class="dropdown-item" href="/burndownChart/">Ver BurndownChart</a></li>
      {% endif %}
          <li><a class="dropdown-item" href="/sprintBacklog/{{ hist.id }}">Ver Sprint Backlog</a></li>


      </ul>
          </div>
      </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hay coincidencias con ese criterio</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength: 5000});</script>
            {% elif message.tags == 'info' %}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength: 5000});</script>
            {% elif message.tags == 'warning' %}
                <script>M.toast({html: "{{message}}", classes: 'yellow rounded', displayLength: 5000});</script>
            {% elif message.tags == 'error' %}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength: 5000});</script>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}




{% endblock %}