{% extends 'base_filtro_sprint.html' %}
{% include 'material/includes/material_js.html' %}

{% load widget_tweaks %}
{% load material_form %}
{% block content %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            //Dropdown menu

            var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
            var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
                return new bootstrap.Dropdown(dropdownToggleEl)
            })
        });

    </script>





    <form method="get">
        <div class="well">
            <h6 class="text-muted">Parametros de filtrado :</h6>
            <div class="row">

                <div class="form-group col s4">
                    {{ filter.form.estados.label_tag }}
                    {% render_field filter.form.estados class="form-control" %}
                </div>

            </div>
            <p></p>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filtrar
            </button>
            <p></p>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>#Sprint</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Verificado</th>
        </tr>
        </thead>
        <tbody>
        {% for sprint in filter.qs %}
            <!--MODALS-->
            <div class="container">
                <!-- Modal Iniciar Sprint -->
                <div class="modal fade" id="modal_iniciar{{ sprint.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Iniciar del
                                    sprint {{ sprint.sprintNumber }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Una vez que sea iniciado no se podra modificar agregar mas historias
                                Desea Iniciar Sprint?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary blue" data-bs-dismiss="modal">Cancelar
                                </button>

                                <a class="btn btn-primary red"
                                   href=/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/AsignarEncargado/Historia{{ 0 }}/Op{{ 3 }}/>Iniciar
                                    Sprint</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Eliminar Sprint -->
                <div class="modal fade" id="modal_eliminar{{ sprint.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminacion del
                                    sprint {{ sprint.sprintNumber }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Realmente desea Eliminar esta sprint?
                                Todas sus historias volveran al product backlog..
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary blue" data-bs-dismiss="modal">Cancelar
                                </button>

                                <a class="btn btn-primary red"
                                   href=/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/Eliminar/>Eliminar
                                    Sprint</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if sprint.estados == "INICIADO"  %}
                <!-- Modal extender Sprint -->
                <div class="modal fade" id="modal_extender{{ sprint.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Extender
                                    Sprint #{{ sprint.sprintNumber }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="height: 250px">
                                <h5 style="alignment: center">ATENCION</h5>
                                <p> Si decide extender este sprint causara un cambio en el sprint en planning( si existe
                                    ).
                                    Asegurese de revisar personalmente el estado del sprint en planning</p>


                                <form action="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/KanbanActivo/accion+expandir/"
                                      method="GET">

                                    <input type="text" name="datefilter" value=""/>

                                    <script type="text/javascript">
                                        $(function () {

                                            $('input[name="datefilter"]').daterangepicker({
                                                autoUpdateInput: false,
                                                singleDatePicker: true,
                                                minDate: "{{ sprint.fecha_fin|date:"m/d/Y"}}",
                                                maxDate: "{{ proyecto.fecha_entrega|date:"m/d/Y"}}",
                                                locale: {
                                                    cancelLabel: 'Clear'
                                                }
                                            });

                                            $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                                                $(this).val(picker.endDate.format('YYYY/MM/DD'));
                                            });

                                            $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                                                $(this).val('');
                                            });

                                        });
                                    </script>


                                    <div class="col" style="position: absolute; right: 20px;">

                                        <button value="Cargar" type="submit" class="btn btn-primary">Cargar
                                        </button>
                                        <button type="button" class="btn btn-secondary blue" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>

                                    </div>


                                </form>


                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- !Modals-->

            <tr>
                <td>{{ sprint.id }}</td>
                <td>{{ sprint.sprintNumber }}</td>
                <td>{{ sprint.fecha_inicio }}</td>
                <td>{{ sprint.fecha_fin }}</td>
                <td>{{ sprint.estados }}</td>
                <td>{{ sprint.verificado }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary" href="#" role="button" id="dropdown{{ sprint.id }}"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdown{{ sprint.id }}">

                            {% if sprint.estados == "PLANNING" %}
                                <script>
                                    var myModal = new bootstrap.Modal(document.getElementById('modal_iniciar{{ sprint.id }}'), options)
                                </script>
                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                       data-bs-target="#modal_iniciar{{ sprint.id }}"> <i class="uil uil-bolt-alt"></i>
                                    Iniciar Sprint</a>
                                </li>



                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/modificar/{{ sprint.id }}/InformacionBasica/">
                                    <i
                                            class="fas fa-edit"></i> Modificar
                                    Sprint</a></li>



                                <script>
                                    var myModal = new bootstrap.Modal(document.getElementById('modal_eliminar{{ sprint.id }}'), options)
                                </script>

                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                       data-bs-target="#modal_eliminar{{ sprint.id }}"> <i
                                        class="uil uil-trash-alt"></i> Eliminar Sprint</a>
                                </li>

                            {% endif %}

                            {% if sprint.estados == "INICIADO" %}
                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/KanbanActivo/"> <i
                                        class="fas fa-grip-horizontal"></i> Ir al
                                    Tablero Kanban</a></li>
                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/BurndownChart/"> <i
                                        class="uil uil-chart-down"></i> Ir al
                                    BurndownChart</a></li>

                                <script>
                                    var myModal = new bootstrap.Modal(document.getElementById('modal_extender{{ sprint.id }}'), options)
                                </script>

                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                       data-bs-target="#modal_extender{{ sprint.id }}"> <i
                                        class="uil uil-expand-arrows-alt"></i> Extender Sprint</a>
                                </li>

                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/intercambiar/"> <i
                                        class="fas fa-exchange-alt"></i> Cambiar Desarrollador </a></li>





                            {% endif %}
                            {% if sprint.estados == "FINALIZADO" %}
                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/kanbanHistorico/"> <i
                                        class="fas fa-grip-horizontal"></i> Ir al
                                    Tablero Kanban</a></li>

                                {% if sprint.verificado !=  True %}
                                    <li><a class="dropdown-item"
                                           href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/QualityAssurance/">
                                        <i
                                                class="uil uil-feedback"></i> Verificar
                                        Calidad</a></li>
                                {% endif %}
                                <li><a class="dropdown-item"
                                       href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/BurndownChart/"> <i
                                        class="uil uil-chart-down"></i> Ir al
                                    BurndownChart</a></li>
                            {% endif %}


                            <li><a class="dropdown-item"
                                   href="/proyecto/{{ ID_proyecto }}/Sprints/{{ sprint.id }}/SprintBacklog/"> <i
                                    class="uil uil-clipboard-notes"></i> Ir al
                                Sprint Backlog</a></li>


                        </ul>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No hay coincidencias con ese criterio</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>






    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}


    <style type="text/css">
.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  {#-moz-box-shadow: 0 0 12px #999999;#}
  {#-webkit-box-shadow: 0 0 12px #999999;#}
  {#box-shadow: 0 0 12px #999999;#}
  {#color: #ffffff;#}
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}
#toast-container > div:hover {
  {#-moz-box-shadow: 0 0 12px #000000;#}
  {#-webkit-box-shadow: 0 0 12px #000000;#}
  {#box-shadow: 0 0 12px #000000;#}
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

</style>

{% endblock %}






