{% extends "base_pdf.html" %}
{% block content %}



<h1 class="text-center">Reporte US del Sprint Backlog</h1>

    <h2 class="text-center">{{ proyecto.nombre }}</h2>
    <h5 class="text-center" style="color: gray">{{ proyecto.descripcion }}</h5>

    {% for sprintNumber,historias in historiasDict.items %}
        <h6 class="text-info">Sprint nro. {{ sprintNumber }}</h6>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Encargado</th>
          <th scope="col">Horas Estimadas</th>
          <th scope="col">Horas Dedicadas</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
        <tbody>
              {% for historia in historias %}
        <tr>
            <th scope="row">{{ historia.id_historia }}</th>
            <td>{{ historia.nombre }}</td>
            <td>{{ historia.descripcion }}</td>
            <td>{{ historia.prioridad }}</td>
            <td>{{ historia.fecha_creacion }}</td>
            {% if historia.encargado %}
                <td>{{ historia.encargado }}</td>
            {% else %}
                <td>---</td>
            {% endif %}

            <td>{{ historia.horasEstimadas }}</td>
            <td>{{ historia.horas_dedicadas }}</td>
            {% if historia.estados %}
            <td>{{ historia.estados }}</td>
            {% else %}
             <td></td>
            {% endif %}
        </tr>
              {% endfor %}
      </tbody>
    </table>
    {% endfor %}
{% endblock %}