{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Burndown Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>

<body>



<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content" style="alignment: left">
    <li><a href="/Usuario/{{ usuario.pk }}/info/">Ver Informacion</a></li>
    <li class="divider"></li>
    <li><a href="/inicio/logout">Cerrar Sesion</a></li>
</ul>
<nav style="background-color: #2f2f2f;height: 13%" >
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#!" style="padding-left: 12px; padding-top: 10px;"> <img src="https://image.flaticon.com/icons/png/512/3486/3486614.png" height="15" alt=""
                         loading="lazy"
                         style="width:50px;height:50px;"> </a></li>
            <li><a href="/inicio/" style="font-size: larger">Inicio</a></li>
            <li><a href="/proyecto/{{ proyecto.id }}/Sprints" style="font-size: larger"> Volver a Sprint</a></li>
        </ul>


        <ul class="right hide-on-med-and-down">
            <li>
                <p style="line-height: 1.5;">
                {{ usuario.first_name }} {{ usuario.last_name }} <br>
            {{ usuario.email }} <br>
            {{ proyecto.nombre }} | {{ Rol_de_usuario }}
                </p>

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1"  style="padding-right: 12px; padding-top: 10px;" ><img src="{{ avatar }}" class="circle" height="15" alt=""
                         loading="lazy"
                         style="width:50px;height:50px;"><i class="material-icons left">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>


<script>

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });

  // Or with jQuery

  $('.dropdown-trigger').dropdown();

</script>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col offset-s3">
                <h5>
                    <i class="fas fa-chart-line">&nbsp;Sprint Burndown Chart</i>
                </h5>
            </div>
            <div class="col s9 l9">
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="chart-Test" height="600" width="1200"></canvas>
                        </div>
                    </div>
                    <canvas id="axis-Test" height="600" width="0"></canvas>
                </div>
            </div>
            <div class="col s9 l3 offset-s9">
                <div class="card blue white-text">
                    <div class="card-content">
                        <p><b>Miembros Activos:</b></p>
                        {% for miembro in miembros %}
                            <p><i class="material-icons" style="vertical-align: bottom;">person</i> {{ miembro }} </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col s9 l3 offset-s9">
                <div class="card blue white-text">
                    <div class="card-content">
                        <p>Sprint nro.: &nbsp; {{ Sprint.sprintNumber }}</p>
                        Inicio : {{ Sprint.fecha_inicio }}
                        <br>Fin : &nbsp;&nbsp;&nbsp; {{ Sprint.fecha_fin }}
                    </div>
                </div>
            </div>
            <div class="col s9 l3 offset-s9">
                <ul class="collapsible">
                    <div class="collapsible-header blue white-text">
                        <i class="material-icons">assignment</i>
                        Historias
                        <span class="new badge grey darken-3 white-text">{{ Total }}</span>
                    </div>
                    {% for historia in Historias %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">expand_more</i>
                                {{ historia.nombre }}
                            </div>
                            <div class="collapsible-body">
                                Descripcion : {{ historia.descripcion }}
                                <br>Encargado : {{ historia.encargado }}
                                <br>Prioridad : {{ historia.prioridad }}
                                <br>Estado : {{ historia.estados }}
                                <br>Horas estimadas : {{ historia.horasEstimadas }}
                                <br>Horas dedicadas : {{ historia.horas_dedicadas }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {accordion: false});
        });
    </script>

    <script>

        $(document).ready(function () {

            function generateLabels() {

                var chartLabels = [];
                var array = "{{ diasLaborales }}".split(',');
                for (x = 0; x < {{ cantidadDias }}; x++) {
                    chartLabels.push(array[x]);
                }
                return chartLabels;
            }

            function generateDataIdeal() {
                var chartData = [];
                var array = "{{ horasLaboralesIdeal }}".split(',');
                for (x = 0; x < {{ cantidadDias }}; x++) {
                    chartData.push(array[x]);
                }
                return chartData;
            }

            function generateDataReal() {
                var chartData = [];
                var array = "{{ horasLaboralesReal }}".split(',');
                for (x = 0; x < {{ cantidadDias }}; x++) {
                    chartData.push(array[x]);
                }
                return chartData;
            }

            var chartData = {
                labels: generateLabels(),
                datasets: [
                    {
                        label: "Trabajo Ideal",
                        data: generateDataIdeal(),
                        borderColor: 'green',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        tension: 0.1
                    }, {
                        label: "Trabajo Real",
                        data: generateDataReal(),
                        borderColor: 'blue',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        tension: 0.1
                    }

                ]
            };


            $(function () {
                var rectangleSet = false;

                var canvasTest = $('#chart-Test');
                var chartTest = new Chart(canvasTest, {
                    type: 'line',
                    data: chartData,
                    maintainAspectRatio: false,
                    responsive: true,
                    options: {
                        tooltips: {
                            titleFontSize: 0,
                            titleMarginBottom: 0,
                            bodyFontSize: 12
                        },
                        legend: {
                            display: true
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontSize: 12,
                                    display: true,
                                    autoSkip: true
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    fontSize: 12,
                                    beginAtZero: false
                                }
                            }]
                        },
                        animation: {
                            onComplete: function () {
                                if (!rectangleSet) {
                                    var scale = window.devicePixelRatio;

                                    var sourceCanvas = chartTest.chart.canvas;
                                    var copyWidth = chartTest.scales['y-axis-0'].width - 10;
                                    var copyHeight = chartTest.scales['y-axis-0'].height + chartTest.scales['y-axis-0'].top + 10;

                                    var targetCtx = document.getElementById("axis-Test").getContext("2d");

                                    targetCtx.scale(scale, scale);
                                    targetCtx.canvas.width = copyWidth * scale;
                                    targetCtx.canvas.height = copyHeight * scale;

                                    targetCtx.canvas.style.width = `${copyWidth}px`;
                                    targetCtx.canvas.style.height = `${copyHeight}px`;
                                    targetCtx.drawImage(sourceCanvas, 0, 0, copyWidth * scale, copyHeight * scale, 0, 0, copyWidth * scale, copyHeight * scale);

                                    var sourceCtx = sourceCanvas.getContext('2d');

                                    // Normalize coordinate system to use css pixels.

                                    sourceCtx.clearRect(0, 0, copyWidth * scale, copyHeight * scale);
                                    rectangleSet = true;
                                }
                            },
                            onProgress: function () {
                                if (rectangleSet === true) {
                                    var copyWidth = chartTest.scales['y-axis-0'].width;
                                    var copyHeight = chartTest.scales['y-axis-0'].height + chartTest.scales['y-axis-0'].top + 10;

                                    var sourceCtx = chartTest.chart.canvas.getContext('2d');
                                    sourceCtx.clearRect(0, 0, copyWidth, copyHeight);
                                }
                            }
                        }
                    }
                });
            });
        });


    </script>

{% endblock %}

<style type="text/css">
    .chartWrapper {
        position: relative;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    /*
    .chartAreaWrapper {
        width: 700px;
        overflow-x: scroll;
    }
    */
    .container {
        margin: 0 auto;
        width: 98%;
        max-width: available;
    }


</style>


</body>
</html>