{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>HISTORIAL DE SPRINTS </h1>
 {% for sprint in Sprints  %}
    <ul class="collection">
        <li class="collection-item avatar">
            <span class="title"> Numero de Sprint : {{ sprint.sprintNumber}}</span>
            <p>Fecha de inicio : {{ sprint.fecha_inicio }} <br>
            <p>Fecha de fin :  {{ sprint.fecha_fin }} <br>
          </p>
            <a class="btn btn-outline-primary btn-sm" href="/visualizarSprint/{{ sprint.id }}">Ver Detalles</a>
            <a href="#" class="secondary-content"><i class="material-icons">flash_on</i></a>
        </li>

    </ul>
{% endfor %}
</body>
</html>
