{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h3 style = "position:relative; left:10px;">Sprints </h3>
    {% if not Sprints %}
        <div class="card-action" style = "position:relative; left:10px;" >
            <p><i class="material-icons red-text" style="vertical-align: -5px;">info</i> Aun no hay sprints creados</p>
            <a href="http://127.0.0.1:8000/inicio/" style="color:dodgerblue;">
                <i class="material-icons tiny" style="vertical-align: -2px;">arrow_back</i>Volver a Inicio
            </a>
        </div>
    {% endif %}

 {% for sprint in Sprints  %}
    <ul class="collection">
        <li class="collection-item avatar">
            <span class="title"> Numero de Sprint : {{ sprint.sprintNumber}}</span>
            <p>ESTADO : {{ sprint.estados }} <br>
            <p>Fecha de inicio : {{ sprint.fecha_inicio }} <br>
            <p>Fecha de fin :  {{ sprint.fecha_fin }} <br>
          </p>
            <a class="btn btn-outline-primary btn-sm" href="/visualizarSprint/{{ sprint.id }}">Ver Detalles</a>
            {% if sprint.estados == "PLANNING" %}
                <a class="btn btn-outline-primary" href="/SprintPlanning/3/{{ 0 }}/{{ 3 }}/">Iniciar</a>
                <a class="btn btn-outline-primary btn-sm" href="/modificarSprint/{{ sprint.id }}/">Modificar</a>
                <a class="btn btn-outline-primary btn-sm" href="/eliminarSprint/{{ sprint.id }}/">Eliminar</a>
            {% endif %}

            <a href="#" class="secondary-content"><i class="material-icons">flash_on</i></a>
        </li>

    </ul>
{% endfor %}
</body>
</html>
