{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
 {% for sprint in Sprints  %}
    <ul class="collection">
        <li class="collection-item avatar">
            <span class="title">{{ sprint.first_name }} {{ sprint.last_name }}</span>
            <p>{{ sprint.email }} <br>
          </p>
          <a href="#" class="secondary-content"><i class="material-icons">flash_on</i></a>
        </li>
         <a class="btn btn-outline-primary btn-sm" href="#">Ver Detalles</a>
    </ul>
{% endfor %}
</body>
</html>
