{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="es">

<!-- nombre de la pestanha e informaciones de la pagina -->


<head>

    <title>Sprint Eliminado</title>
    <meta charset="utf-8"/>
    <!-- Debe mostrarse en la version de edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>


<body>

  <div class="row">
    <div class="col s12 m6">
      <div class="card light-blue darken-3">
        <div class="card-content white-text">
          <span class="card-title">Eliminacion de Sprint Exitosa!</span>
        </div>
        <div class="card-action">
          <a href="/proyecto/{{ ProyectoID }}/Sprints/" style="color:#bcdbe3;">Volver a la lista de Sprints</a>
          <a href="/inicio/" style="color:#bcdbe3;">Inicio</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

