{% extends "inicioPadre.html" %}
{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<!-- nombre de la pestanha e informaciones de la pagina -->

<head>

    {% block title %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock %}

</head>

<!-- Aqui va el codigo de la pagina -->

<body>
{% block content %}
    <div class="container section">
        <!-- Menu desplegable del programa -->
        <a href="#" class="sidenav-trigger" data-target="menu-side">
            <i class="material-icons">menu</i>
        </a>

        <ul class="sidenav" id="menu-side">
            <!--perfil-->
            <li>
                <div class="user-view">
                    <div class="background">
                        <!-- Fondo azul-->
                        <img src="https://images.unsplash.com/photo-1563518839049-f44a5e423f12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80"
                             alt="">
                    </div>
                    {% if user.is_authenticated %}
                        <a href="#">
                            <!-- Foto de perfil en blanco-->
                            <!--  [https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png]    -->
                            {% if user.is_superuser %}
                                <img src="/static/estilos/img/admin-with-cogwheels.png" alt="" class="circle" style='filter: invert(100%);'>
                            {% else %}
                                <img src="{{ avatar }}" alt="" class="circle">
                            {% endif %}
                        </a>
                        <a href="">
                            <span class="name white-text">{{ user.first_name }} {{ user.last_name }} </span>
                        </a>
                        <a href="">
                            <span class="email white-text">{{ user.email }}</span>
                        </a>
                    {% endif %}
                </div>
            </li>
            <!--menu-->
            <!--primer elemento-->

            <li>
                <!--El data-target debe ser igual al id de la tabla que va a desplegar el contenido-->
                <a class='dropdown-trigger blue-grey btn' href='#' data-target='dropdown1'>
                    <p>Proyecto</p>
                </a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li>
                        {% if perms.proyectos.add_proyecto %}
                            <a href="http://127.0.0.1:8000/crearProyecto/">
                                <i class="material-icons">assignment</i>
                                Nuevo Proyecto
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">assignment</i>
                                Nuevo Proyecto
                            </a>
                        {% endif %}

                        {% if perms.proyectos.change_proyecto %}
                            <a href="http://127.0.0.1:8000/modificarProyecto/1/">
                                <i class="material-icons">build</i>
                                Modificar Proyecto
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">build</i>
                                Modificar Proyecto
                            </a>
                        {% endif %}

                        {% if perms.proyectos.delete_proyecto %}
                            <a href="http://127.0.0.1:8000/eliminarProyecto/">
                                <i class="material-icons">delete</i>
                                Eliminar Proyecto
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">delete</i>
                                Eliminar Proyecto
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </li>

            <div class="divider"></div>
            <!-- Segundo elemento-->

            <li>
                <!--El data-target debe ser igual al id de la tabla que va a desplegar el contenido-->
                <a class='dropdown-trigger blue-grey btn' href='#' data-target='dropdown2'>
                    <p> Usuario </p>
                </a>

                <!-- Dropdown Structure -->
                <!-- Tabla que va a desplegar el contenido-->
                <ul id='dropdown2' class='dropdown-content'>
                    <!-- Listado sin iconos -->
                    <!-- <li><a href="#!">one</a></li> -->

                    <!-- divisor-->
                    <!-- <li class="divider" tabindex="-1"></li>  -->
                    <!-- El menu despliega este contenido-->

                    {% if perms.gestionUsuario.add_user %}
                        <li><a href="http://127.0.0.1:8000/registrarUsuario/"><i class="material-icons">person_add</i>Registrar
                            Usuario</a></li>
                    {% else %}
                        <li><a href="#" onclick="toast_permisos()"><i class="material-icons">person_add</i>Registrar
                            Usuario</a></li>
                    {% endif %}

                    {% if perms.Group.add_group %}
                        <li><a href="http://127.0.0.1:8000/crearRol/"><i class="material-icons">assignment_ind</i>Crear
                            Rol</a>
                        </li>

                        <li><a href="http://127.0.0.1:8000/asignarRol/"><i
                                class="material-icons">assignment_turned_in</i>Asignar
                            Rol</a></li>
                    {% else %}
                        <li><a href="#" onclick="toast_permisos()"><i class="material-icons">assignment_ind</i>Crear Rol</a>
                        </li>

                        <li><a href="#" onclick="toast_permisos()"><i class="material-icons">assignment_turned_in</i>Asignar
                            Rol</a></li>
                    {% endif %}


                    {% if perms.Group.change_group %}
                        <li><a href="http://127.0.0.1:8000/modificarRol/1/"><i class="material-icons">build</i>Modificar
                            Rol</a>
                        </li>
                    {% else %}
                        <li><a href="#" onclick="toast_permisos()"><i class="material-icons">build</i>Modificar Rol</a>
                        </li>
                    {% endif %}

                    {% if perms.Group.delete_group %}
                        <li><a href="http://127.0.0.1:8000/eliminarRol/"><i class="material-icons">delete</i>Eliminar
                            Rol</a>
                        </li>
                    {% else %}
                        <li><a href="#" onclick="toast_permisos()"><i class="material-icons">delete</i>Eliminar Rol</a>
                        </li>
                    {% endif %}

                </ul>
            </li>

            <!--Divisor-->
            <div class="divider"></div>

            <li>
                <!--El data-target debe ser igual al id de la tabla que va a desplegar el contenido-->
                <a class='dropdown-trigger blue-grey btn' href='#' data-target='dropdown3'>
                    <p>Sprint</p>
                </a>
                <ul id='dropdown3' class='dropdown-content'>
                    <li>
                        {% if perms.Sprints.add_sprint %}
                            <a href="http://127.0.0.1:8000/crearSprint/">
                                <i class="material-icons">assignment</i>
                                Crear Sprint
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">assignment</i>
                                Crear Sprint
                            </a>
                        {% endif %}

                        {% if perms.Sprints.change_sprint %}
                            <a href="http://127.0.0.1:8000/modificarSprint/1/">
                                <i class="material-icons">build</i>
                                Modificar Sprint
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">build</i>
                                Modificar Sprint
                            </a>
                        {% endif %}

                        {% if perms.Sprints.delete_sprint %}
                            <a href="http://127.0.0.1:8000/eliminarSprint/">
                                <i class="material-icons">delete</i>
                                Eliminar Sprint
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">delete</i>
                                Eliminar Sprint
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </li>

            <div class="divider"></div>

            <li>
                <!--El data-target debe ser igual al id de la tabla que va a desplegar el contenido-->
                <a class='dropdown-trigger blue-grey btn' href='#' data-target='dropdown4'>
                    <p>Historia</p>
                </a>
                <ul id='dropdown4' class='dropdown-content'>
                    <li>
                        {% if perms.userStory.add_historia %}
                            <a href="http://127.0.0.1:8000/crearHistoria/">
                                <i class="material-icons">assignment</i>
                                Crear Historia
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">assignment</i>
                                Crear Historia
                            </a>
                        {% endif %}

                        {% if perms.userStory.change_historia %}
                            <a href="http://127.0.0.1:8000/modificarHistoria/1/">
                                <i class="material-icons">build</i>
                                Modificar Historia
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">build</i>
                                Modificar Historia
                            </a>
                        {% endif %}

                        {% if perms.userStory.delete_historia %}
                            <a href="http://127.0.0.1:8000/eliminarProyecto/">
                                <i class="material-icons">delete</i>
                                Eliminar Historia
                            </a>
                        {% else %}
                            <a href="#" onclick="toast_permisos()">
                                <i class="material-icons">delete</i>
                                Eliminar Historia
                            </a>
                        {% endif %}

                        {% if perms.userStory.view_historia %}
                                <a href="http://127.0.0.1:8000/verHistorias/">
                                    <i class="material-icons">remove_red_eye</i>
                                    Ver historias
                                </a>
                        {% else %}
                                <a href="#" onclick="toast_permisos()">
                                    <i class="material-icons">remove_red_eye</i>
                                    Ver historias
                                </a>
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>
    </div>




    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            //Barra lateral
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            //Dropdown menu
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
    </script>
    <!-- Alertar al usuario que no posee los permisos suficientes -->
    <script>
        function toast_permisos() {
            M.toast({
                html: 'Permisos requeridos',
                classes: "red"
            })

        }
    </script>
{% endblock %}
</body>

</html>